@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p {
    line-height: 1.5;
    color: rgb(124, 139, 161);
}

h2 {
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: 1.2px;
}

.page__container {
    padding: 32px;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.highlight--text {
    color: var(--primary-color);
}

.curve--border {
    border-radius: 9999px;
}

.section--title {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
}

.section--heading {
    color: var(--heading-color);
    font-weight: 900;
    letter-spacing: 1.2px;
    line-height: 60px;
    margin-top: 16px;
}



/* CUSTOM PROPERTIES */
:root {
    --primary-color: rgba(100,21,255,1);
    --heading-color: rgb(36, 62, 99);
}
/* END OF CUSTOM PROPERTIES */



/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__container {
    width: 40px;
    display: flex;
    align-items: center;
}

.logo__img {
    width: 100%;
    margin-right: 12px;
}

.logo__text {
    font-weight: 900;
    margin-right: 24px;
    font-size: 1.5rem;
    color: rgb(19, 18, 18);
    transition: color 250ms ease;
}

.logo__text:hover {
    color: var(--primary-color);
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    color: #000;
    margin: 0 24px;
    font-weight: 500;
    font-size: 0.9rem;
    padding-bottom: 4px;
    border-bottom: rgba(100,21,255,0) 2px;
    transition: border 250ms ease;
}

.nav__link:hover {
    color: var(--primary-color);
    border-bottom: var(--primary-color) 2px solid;
}

.nav__link--account {
    margin-left: 48px;
    margin-right: 24px;
}

.nav__link--cta {
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px 32px;
    margin: 0;
    font-weight: 500;
    font-size: 0.9rem;
}

.nav__link--cta:hover {
    background-color: rgb(81, 16, 212);
}
/* END OF NAVIGATION */



/* HEADER */
h1 {
    font-size: 3rem;
    margin-bottom: 25px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__text {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__text--para {
    margin: 32px 0;
    font-size: 1.1rem;
}

.header__text--email {
    position: relative;
    max-width: 28rem;
    margin-right: auto;
    text-align: center;
}

.header__text--input {
    padding: 20px 192px 20px 32px;
}

.header__text--btn {
    position: absolute;
    padding: 1rem 0; 
    font-weight: 700;
    width: 10rem;
    margin: 0.25rem 0.25rem 0.25rem 0;
    left: 240px;
    background-color: var(--primary-color);
    border: none;
}

.header__customers {
    opacity: 0.6;
    margin-top: 80px;
}

.header__img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
}
/* END OF HEADER */



/* FEATURES */
#features {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.features__intro--wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__intro--para {
    max-width: 50ch;
    font-size: 1.2rem;
    margin-top: 16px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
}

.features__service {
    display: flex;
    width: calc(100% / 3);
    margin: 0 16px;
    padding: 32px 8px;
}

.features__service--icon--wrapper {
    padding: 20px;
    border: rgb(229, 231, 235) 1px solid;
    border-radius: 50%;
    display: flex;
}

.features__service--title {
    font-size: 1.5rem;
}

.features__service--para {
    max-width: 26ch;
}
/* END OF FEATURES */



/* SECTIONS */
.section__container {
    display: flex;
}



/* QUALITY WORK */
.quality__description {
    width: 50%;
    padding: 32px 0;
    margin-right: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.quality__description--para {
    font-size: 18px;
    max-width: 64ch;
    margin-top: 16px;
    font-weight: 500;
}

.quality__description--btn {
    margin-top: 32px;
    padding: 12px 32px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 14px;
    border: none;
}

.quality__img--container {
    width: 50%;
    border: rgb(229, 231, 235) 1px solid;
}

.quality__img {
    width: 100%;
}
/* END OF QUALITY WORK */



/* STEPS SECTION */

/* END OF STEPS SECTION */

/* VALUES SECTION */
/* END OF VALUES SECTION */

/* PRICING SECTION */
/* END OF PRICING SECTION */

/* TESTIMONIALS */
/* END OF TESTIMONIALS */

/* CONTACT */
/* END OF CONTACT */

/* FOOTER */
/* END OF FOOTER */